html{
    scroll-behavior: smooth;
}
body{
    color:#eee;
    direction: rtl;
    height: auto;
    background-color: #eee;
}
.container{
    width:1200px;
    margin: 0px auto;
    text-transform: capitalize;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    color: #000;
    text-transform: capitalize;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.container{
    width: 1200px;
    margin: 0px auto;
}
.navbar{
    height: 0px;
    position: relative;
}
.header{
    background-image: url(img/header%20background.jpg);
    background-size: cover;
    height:663px;
    width: 100%;
    position: relative;
}
.header h4{
    float: left;
    font-size: 16pt;
    margin-top: 28px;
    margin-left: 35px;
    color:#74a2d6;
    cursor: default;
}
.header h4 span{
    color:#ffffff;
}
.header ul{
    float: right;
    color:#ffffff;
    font-size: 10pt;
}
.header ul li{
    display: inline-block;
    margin-left: -6px;
    margin-top: 35px;
    color: #ffffff;
    margin-right: 35px;
}
.header button{
    margin: 0px auto;
    justify-content: center;
    width: 127px;
    height: 37px;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 6px;
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 536.5px;
}
.adv{
    color: #fff;
    font-size: 53px;
    position: absolute;
    right: 272.11px;
    top: 257.5px;
    cursor: default;
}
.content{
    position: relative;
}
.content h4{
    color: #d02222;
    font-size: 16pt;
    border-bottom: 3px solid;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 6px;
}
.back-content{
    background-color:transparent;
    width: 100%;
    height: 214px;
    width: 100%;
    position: relative;
    top: 26px;
}
.content p{
    float: left;
    display: inline;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 214px;
    padding: 24px 20px;
    width: 300px;
    line-height: 1.5;
}
.content p:first-of-type{
    background-color: #9c1f1f;
}
.content p:nth-of-type(2){
    background-color: #af1f1f;
}
.content p:nth-of-type(3){
    background-color: #c72323;
}
.content p:nth-of-type(4){
    background-color: #d32222;
}
.content i{
    font-size: 50px;
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
}
.content button{
    margin-top:16px;
    background-color: transparent;
    border: 1px solid #fff;
    width: 138px;
    height: 33px;
    border-radius: 30px;
    color: #fff;;
    background-color: transparent;
    border: 1px solid #fff;
    width: 138px;
    height: 33px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}
.content button:active{
    background-color: #fff;
    color: #931d1d;
    border: 0px solid;
}
.content{
    cursor: default;
}
.content p:hover{
    background-color: #8a1b1b;
}
.content2{
    position: relative;
}
.content2 h4{
    margin-top: 59px;
    color: #d02222;
    border-bottom: 3px solid;
    width: 100%;
    font-size: 16pt;
    padding-bottom: 6px;
    float: right;
}
.content2 p{
    width: 333px;
    color: #524f4f;
    line-height: 2.8;
    float: right;
}
.box1 .overlay span{
    color: #fff;
    text-transform: capitalize;
    line-height: 19;
    margin: 0px 32.335px;
}
.box2 .overlay span{
    color: #fff;
    text-transform: capitalize;
    line-height: 19;
    margin: 0px 50.61px;
}
.box3 .overlay span{
    color: #fff;
    text-transform: capitalize;
    line-height: 19;
    margin: 0px 43.65px;
}
.st-con div{
    float: left;
    margin-right: 24px;
}
.box1{
    width: 180px;
    height: 170px;
    background-image: url(img/item1.jpg);
    background-size: cover;
}
.box2{
    width: 180px;
    height: 170px;
    background-image: url(img/item2.jpg);
    background-size: cover;
}
.box3{
    width: 180px;
    height: 170px;
    background-image: url(img/item3.jpg);
    background-size: cover;
}
.st-con p{
    margin: 0px auto;
    width: 103px;
    position: relative;
    top: 145px;
    color: #fff;
    z-index: 88888888;
    display: none;
}
.target{
    color: #9c1f1f;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    top: 1px;
    z-index: 66666;
    left: -143px;
    margin: 1px;
    padding-left: 7px;
    padding-top: 0px;
    position: relative;
    font-family: 'Chelsea Market', cursive;
}
.overlay{
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    z-index: 55555;
    display: none;
    position: relative;
    top: -30px;
}
.box1:hover > .overlay , .box2:hover > .overlay , .box3:hover > .overlay{
    display: block;
    transition: all .4s ease-in-out;
}
.elakhbar{
    width: 600px;
    background-color: transparent;
    height: 618px;
    position: relative;
    top: 47px;
    overflow: hidden;
    border-bottom: 3px solid #d02222;
    margin-bottom: 19px;
    float: right;
    right: -333px;
}
.elakhbar h4{
    color:#d02222;
    font-size: 16pt;
    border-bottom: 3px solid;
    margin-bottom: 15px;
}
}
.kh1{
    overflow: hidden;
}
.elakhbar .kh1{
    width: 100%;
    height: 130px;
    background-color:#fff;
    margin-bottom: 11px;
}
.elakhbar img{
    width: 195px;
    height: 130.33px;
    float: right;
}
.elakhbar .kh1 span{
    display: flex;
    padding: 43px;
}
.elakhbar img:hover{
    transform: scale(1.1,1.1);
    transition: all .5s ease-in-out;
}
.left-side{
    width: 600px;
    background-color: transparent;
    height: 618px;
    position: relative;
    top: -590px;
    right: 0px;
    float: left;
    overflow: hidden;
    border-bottom: 3px solid #d02222;
}
.left-side h4{
    color:#d02222;
    font-size: 16pt;
    border-bottom: 3px solid;
    margin-bottom: 15px;
}
.left-side .kh1{
    width: 100%;
    height: 130px;
    background-color:#fff;
    margin-bottom: 11px;
}
.left-side img{
    width: 195px;
    height: 133.33px;
    float: right;
}
.left-side .kh1 span{
    display: flex;
    padding: 43px;
}
.left-side img:hover{
    transform: scale(1.1,1.1);
    transition: all .5s ease-in-out;
}
.left-side .kh1{
    overflow: hidden;
}
.mahmoud{
    width: 700px;
    height: 200px;
    background: red;
    display: block;
    
}